*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header{
   
    position: relative;
    background: linear-gradient(180deg, #f3d023 0%, #9f0c04 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 2.25rem;

}


.logo{
    width:100%;
    height: 7rem;
}
.row{
    position: absolute;
    display: flex;
    background-image: url("../IMAGE/fundo.jpg");
    background-size: cover;  
}

#leaf{
    gap: 20rem;
}
 .list-unstyled{
    margin-top: 1.5rem;
 
 }
 li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
 }
 h5{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .mr-3{
    gap: 2rem;
 }

 .media-body{
    width: 80%;
 }