*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header{
    width: 100%;
    width: 79rem;
    position: relative;
    background: linear-gradient(180deg, #f3d023 0%, #9f0c04 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 2.25rem;
}

.logo{
    height: 8rem;
    width: 33rem;
}
.row{
    position: absolute;
    display: flex;
    background-image: url("../IMAGE/fundo.jpg");
    background-size: cover;  
}
 #leaf{
    display: flex;
position: relative;
  margin: 35rem;
  margin-top: 2rem;
 }